* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    man-width: 100%;
    padding: 0 16px;
  }
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0px;
}
.section-title {
  font-family: "Proxima Nova Semibold", sans-serif;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.section__title {
  padding: 100px 0px;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #507fe1;
  background-color: #fff;
}

.button {
  padding: 25px 45px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #507fe1;
  color: #ffffff;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.button-fitting {
  color: #507fe1;
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px;
  height: 30px;
  background-color: #ffffff;
}
.button-add {
  background-color: #7c9fe8;
  border: none;
  font-size: 11px;
  height: 30px;
  text-transform: uppercase;
  padding: 10px;
  color: #ffffff;
}
.button-like {
  background-color: #507fe1;
  color: #ffffff;
  height: 30px;
  border: none;
  width: 30px;
}

.bg-secondary {
  background-color: #f1f1f1;
}

.input {
  height: 80px;
  width: 100%;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

.select {
  height: 80px;
  width: 100%;
  border: 1px solid #dddddd;
  position: relative;
}
.select:after {
  content: "";
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/offer/arrow.png") no-repeat center;
}
.select:hover {
  cursor: pointer;
}
.select__checked {
  line-height: 80px;
  padding-left: 30px;
}
.select__dropdown {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dddddd;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
.select__dropdown_open {
  display: block;
}
.select__option {
  padding: 20px;
}
.select__option:hover {
  background-color: #f1f1f1;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + label:before {
  background-color: #507fe1;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin: 0px 40px 0px 0px;
}
.checkbox-label:hover {
  cursor: pointer;
  opacity: 0.75;
}
.checkbox-label:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin: 0px 20px 0px 0px;
}

@media (max-width: 1199px) {
  .section-title {
    font-size: 28px;
  }
  .section__title {
    font-size: 28px;
    padding: 60px 0px;
  }
}
@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section-title {
    font-size: 24px;
  }
  .section__title {
    font-size: 24px;
    padding: 40px 0px;
  }
}
.navbar {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__phone {
  display: block;
  font-size: 19px;
  font-family: "Proxima Nova Semibold", sans-serif;
  text-decoration: none;
  color: #262626;
  margin-bottom: 5px;
}
.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 4;
  transform: translateY(-200%);
  transition: 0.6s;
  top: 80px;
  padding: 16px 0px;
  width: 100%;
  left: 0;
  opacity: 0;
  background-color: #507fe1;
  color: #ffffff;
}
.menu_active {
  transform: translateY(0);
  opacity: 1;
}
.menu__nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.2);
  border-left: 1px solid rgba(81, 11, 186, 0.2);
  height: 80px;
  width: 70px;
}
.menu-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.menu-button:focus {
  outline: none;
}
.menu-button__line {
  display: block;
  margin: 2px 0;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.logo__description {
  display: block;
  font-style: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    height: 100%;
    flex-direction: column;
  }
  .menu__link {
    margin: 5px 0px;
  }
}
@media (max-width: 600px) {
  .logo {
    display: none;
  }
  .menu {
    top: 40px;
  }
  .menu-button {
    height: 50px;
  }
  .menu__nav {
    height: 100%;
    flex-direction: column;
  }
  .menu__link {
    margin: 5px 0px;
  }
}
@media (max-width: 320px) {
  .navbar-button {
    height: 90px;
  }
}
.hero {
  background: #f1f1f1 url("../img/hero/hero-bg.jpg") no-repeat center top 80px;
  background-size: contain;
  padding-top: 180px;
  padding-bottom: 270px;
}
.hero__title {
  font-size: 30px;
  padding-bottom: 40px;
}
.hero__subtitle {
  display: block;
  font-size: 30px;
  font-family: "Proxima Nova Semibold", sans-serif;
  padding-bottom: 67px;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 30%;
  }
}
.offer {
  padding: 129px 0;
}
.offer-block {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 80px;
  margin-top: -200px;
}
.offer-block_calc-bg {
  background: #fff url("../img/offer/offer-bg-calc.png") no-repeat center right;
  background-size: contain;
}
.offer-block_price-bg {
  background: #fff url("../img/offer/offer-bg-price.png") no-repeat center right;
  background-size: contain;
}
.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
  max-width: 800px;
}

.form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 900px;
  align-items: flex-start;
}
.form__rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 900px;
  align-items: flex-start;
  margin-top: 40px;
}
.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}
.form__input {
  width: 100%;
  border-right-width: 0px;
}
.form__input:last-child {
  border-right-width: 1px;
}
.form__policy {
  display: inline-block;
  align-content: center;
  margin-left: 45px;
  height: 80px;
}
.form__group {
  flex-basis: 33.33%;
}
.form__button {
  width: 100%;
  height: 80px;
}
.form__checkbox {
  margin: 25px 0px;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -240px;
  }
  .form__button {
    padding: 0;
  }
  .form__policy {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer__title {
    font-size: 18px;
  }
  .offer__subtitle {
    font-size: 16px;
  }
  .form__row {
    flex-direction: column;
  }
  .form__group {
    flex-basis: 100%;
    width: 100%;
  }
}
.features-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features-block__item {
  flex-basis: 33%;
  text-align: center;
  margin: 0px 0px 110px 0px;
}

@media (max-width: 991px) {
  .features-block__item {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .features-block__item {
    flex-basis: 100%;
    margin: 0px 0px 60px 0px;
  }
}
.catalog-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.catalog__card {
  margin: 0px 0px 30px 0px;
}
.catalog__link {
  text-align: center;
  justify-content: center;
}
.catalog__link-more {
  display: inline-block;
  margin: 0px 0px 24px 0px;
}
.catalog__description {
  display: block;
  padding: 0px 0px 100px 0px;
}
.catalog-card {
  overflow: hidden;
  z-index: 0;
  max-width: 576px;
  position: relative;
  box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.2);
}
.catalog-card:hover .catalog-card__buttons {
  overflow: hidden;
  transform: translateY(0);
  opacity: 1;
}
.catalog-card__buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  transition: 0.4s;
  opacity: 0;
  transform: translateY(100%);
  right: 0;
}
.catalog-card__tag {
  text-transform: uppercase;
  position: absolute;
  background-color: rgba(80, 127, 225, 0.6);
  color: #fff;
  top: 10px;
  left: 10px;
  padding: 10px;
}
.catalog-card__image {
  display: block;
}

@media (max-width: 1199px) {
  .catalog {
    padding: 5px 0px;
  }
  .catalog-card {
    max-width: 470;
  }
  .catalog-block {
    justify-content: center;
    max-width: 470;
  }
}
@media (max-width: 991px) {
  .catalog {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 12px;
  }
  .catalog-card {
    max-width: 100%;
  }
  .catalog-block {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .catalog {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 10px;
  }
}
@media (max-width: 567px) {
  .catalog {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 8px;
  }
}
.blog__heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px 70px 0px;
}
.blog__title {
  font-size: 24px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.blog__link-more {
  color: #507fe1;
  font-size: 16px;
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-list__image {
  max-height: 200px;
  overflow: hidden;
}
.blog-list__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80px;
}
.blog-list__card {
  margin: 0px 0px 50px 0px;
  gap: 20px;
}
.blog-card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1199px) {
  .blog-list {
    justify-content: space-around;
  }
  .blog-list__card {
    margin: 20px 80px;
  }
}
@media (max-width: 768px) {
  .blog__heading {
    font-size: 18px;
    justify-content: space-around;
    margin: 0px 40px;
  }
  .blog__link-more {
    text-align: center;
  }
  .blog-list {
    justify-content: space-around;
  }
  .blog-list__card {
    margin: 10px 40px;
  }
}
.price {
  background-color: #f1f1f1;
}
.price-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.price-block__card {
  margin: 0px 0px 10px 0px;
}
.price-card {
  position: relative;
  background-color: #fff;
}
.price-card__text {
  padding: 20px;
  font-size: 15px;
}
.price-card__title {
  margin: 0;
}
.price-card__cost {
  font-family: "Proxima Nova Semibold", sans-serif;
}
.price-card__pricetag {
  display: flex;
  justify-content: space-between;
}
.price-card__button {
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: -1;
  background-color: #fff;
}
.price-card:hover .price-card__button {
  z-index: 1;
  bottom: -90px;
}

@media (max-width: 1199px) {
  .price-block {
    justify-content: space-around;
  }
  .price-block__card {
    margin: 50px;
  }
}
@media (max-width: 991px) {
  .price-block {
    justify-content: center;
  }
  .price-block__card {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  .price-block {
    justify-content: center;
  }
  .price-block__card {
    margin: 10px;
  }
  .price-card__text {
    font-size: 12px;
  }
}
@media (max-width: 567px) {
  .price-block {
    justify-content: center;
  }
  .price-block__card {
    margin: 10px;
  }
  .price-card__text {
    font-size: 8px;
  }
  .price-card__pricetag {
    gap: 5px;
  }
}
.step {
  position: relative;
}
.step__text {
  max-width: 160px;
  margin: auto;
  margin-bottom: 30px;
}
.step:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(126, 123, 120, 0.6);
  display: block;
  position: absolute;
  top: 25%;
  right: -63%;
}
.step:last-child:before {
  display: none;
}
.step__title {
  font-size: 18px;
}
.steps {
  text-align: center;
}
.steps-block {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .step {
    justify-content: space-around;
    flex-basis: 33%;
  }
  .step:before {
    display: none;
  }
}
@media (max-width: 991px) {
  .step {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .step {
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .step {
    flex-basis: 100%;
  }
}
.before-slider-arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 100%;
  z-index: 0;
}
.before-slider-wrap {
  margin: auto;
  max-width: 640px;
  position: relative;
}
.before-slider__dots {
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}
.before-slider__dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: #d1d1d1;
}
.before-slider__dots li.slick-active {
  background-color: #507fe1;
}
.before-slider__dots li:hover {
  opacity: 0.8;
  cursor: pointer;
}
.before-slider__dots button {
  display: none;
}

.slick-list {
  position: relative;
  z-index: 1;
}

.arrow {
  background-color: transparent;
  border: none;
}
.arrow:hover {
  opacity: 0.8;
  cursor: pointer;
}
.arrow:focus {
  outline: none;
}
.arrow-left {
  transform: translateX(-150%);
}
.arrow-right {
  transform: translateX(150%);
}

@media (max-width: 768px) {
  .arrow-left {
    display: none !important;
  }
  .arrow-right {
    display: none !important;
  }
}
.reviews {
  background-color: #f5f6f8;
}
.reviews-slider {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  align-content: center;
}
.reviews-slider__item {
  display: inline-block;
  text-align: center;
  min-height: -moz-fit-content;
  min-height: fit-content;
  flex-wrap: wrap;
}
.reviews-slider__image {
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid #6a99e9;
  border-radius: 60%;
  margin: 20px auto;
}
.reviews-slider__text {
  position: relative;
  min-height: 150px;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-style: italic;
  max-width: 370px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}
.reviews-slider__text:after {
  position: absolute;
  content: "";
  height: 10px;
  bottom: -50px;
  transform: translateX(-50%);
  left: 50%;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
}

@media (max-width: 1199px) {
  .reviews-slider {
    justify-content: center;
    align-content: center;
  }
  .reviews-slider__item {
    flex-basis: 100%;
  }
  .reviews-slider__item:last-child {
    margin-bottom: 40px;
  }
  .reviews-slider__text {
    max-width: 100%;
    margin: 20px 120px;
  }
}
@media (max-width: 768px) {
  .reviews-slider__text {
    margin: 10px 40px;
  }
}
@media (max-width: 576px) {
  .reviews-slider__text {
    margin: 10px 0px;
  }
}
.factory-block {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.factory-block__text {
  flex-basis: 50%;
}

@media (max-width: 991px) {
  .factory-block {
    margin: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .factory-block__image {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 30px;
  }
  .factory-block__text {
    flex-basis: 100%;
    margin: 20px 40px;
  }
}
@media (max-width: 576px) {
  .factory-block__image {
    margin-bottom: 20;
  }
  .factory-block__text {
    margin: 10px 30px;
  }
}
.contacts-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contacts-block__item {
  text-align: center;
}
.contacts__image {
  margin-bottom: 25px;
}
.contacts__text {
  font-size: 16px;
}
.contacts__link {
  text-decoration: none;
  color: #7b7b79;
}
.contacts__address {
  font-style: normal;
  color: #7b7b79;
}

@media (max-width: 768px) {
  .contacts-block__item {
    align-content: center;
    flex-basis: 100%;
    width: 100px;
    margin: 30px;
  }
  .contacts__address {
    width: 200px;
    margin: auto;
  }
}
.questions-block {
  display: flex;
  margin: auto;
  max-width: 800;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.questions__title {
  font-size: 30px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.questions__link {
  font-size: 24px;
  color: #507fe1;
}

@media (max-width: 768px) {
  .questions-block {
    flex-wrap: wrap;
  }
  .questions__title {
    flex-basis: 100%;
  }
  .questions__link {
    flex-basis: 100%;
  }
}
.footer {
  padding: 40px;
  background-color: #262626;
  color: #fff;
}
.footer-block {
  display: flex;
  justify-content: space-between;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer__title {
  margin-top: 6px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.footer__subtitle {
  margin-bottom: 48px;
  display: block;
}
.footer__copy {
  color: #767676;
}
.footer__pay-logo {
  margin: 15px;
}
.footer__contacts {
  text-align: right;
}
.footer__phone {
  display: block;
  font-size: 20px;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 20px;
}
.footer__mail {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer-social__link {
  margin-left: 15px;
}

@media (max-width: 991px) {
  .footer-block {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
  }
  .footer__contacts {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */