.catalog
    &-block 
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: center
    &__card
        margin: 0px 0px 30px 0px
    &-card 
        max-width: 576px
        position: relative
        box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.2)
        &__buttons
            position: absolute
            bottom: 0
            right: 0
        &__tag
            position: absolute
            top: 0
            left: 0
        &__image
            display: block
            width: 570px
            height: 133px